#field{
    margin: 0 30%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3, minmax(150px,250px));
    grid-gap: 10px
}

.cell{
    background-color: #444;
    color: #eee;
    font-size: 150px;
    border-radius: 15px;
    text-align: center;
    margin-top: 20% 
}
.cell:hover{
    background-color:#666;
}
body{
    background-color: #222;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#role{
    width: 100%;
    text-align: center;
    font-size: 250%;
    color: #999
    ;
    margin : 30px auto
}


